<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="Real-Debrid">
        <setting label="Authentication" type="lsep"/>
        <setting id="rd_token" type="text" label="Real-Debrid API Token" default="" option="hidden"/>
        <setting label="Get your API token at real-debrid.com/apitoken" type="lsep"/>
        <setting id="auth_action" type="action" label="Authorize Device" action="RunPlugin(plugin://plugin.video.streamlord/?action=device_auth)"/>
    </category>
    <category label="AllDebrid">
        <setting id="ad_token" type="text" label="AllDebrid API Key" default="" option="hidden"/>
        <setting label="Get your API key at alldebrid.com/apikeys" type="lsep"/>
    </category>
    <category label="Premiumize">
        <setting id="pm_token" type="text" label="Premiumize API Key" default="" option="hidden"/>
        <setting label="Get your API key at premiumize.me/account" type="lsep"/>
    </category>
    <category label="Trakt">
        <setting id="trakt_token" type="text" label="Trakt Access Token" default="" option="hidden"/>
        <setting id="trakt_auth" type="action" label="Authorize Trakt" action="RunPlugin(plugin://plugin.video.streamlord/?action=trakt_auth)"/>
    </category>
    <category label="Menu">
        <setting id="show_tmdb_trending" type="bool" label="Show TMDB Trending" default="true"/>
        <setting id="show_tmdb_genres" type="bool" label="Show TMDB Genres" default="true"/>
        <setting id="show_tmdb_search" type="bool" label="Show TMDB Search" default="true"/>
        <setting id="show_continue_watching" type="bool" label="Show Continue Watching" default="true"/>
        <setting id="show_search_torrents" type="bool" label="Show Search All Torrents" default="true"/>
        <setting id="show_streamlord_movies" type="bool" label="Show Streamlord Movies" default="true"/>
        <setting id="show_streamlord_tv" type="bool" label="Show Streamlord TV Series" default="true"/>
        <setting id="show_trakt" type="bool" label="Show Trakt Watchlist" default="true"/>
        <setting id="show_open_magnet" type="bool" label="Show Open Magnet" default="true"/>
    </category>
    <category label="Playback">
        <setting id="max_quality" type="labelenum" label="Maximum Quality" values="4K|1080p|720p|SD" default="4K"/>
        <setting id="autoplay_next" type="bool" label="Auto-play next episode" default="false" />
    </category>
    <category label="Downloads">
        <setting id="download_path" type="folder" label="Download folder" default="special://home/userdata/downloads/" />
    </category>
</settings>
