<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="Playback">
        <setting id="autoplay_next" type="bool" label="Auto-play next episode" default="false" />
    </category>
    <category label="Debrid Services">
        <setting label="Real-Debrid" type="lsep"/>
        <setting id="rd_token" type="text" label="Real-Debrid API Token" default="" option="hidden"/>
        <setting label="AllDebrid" type="lsep"/>
        <setting id="ad_token" type="text" label="AllDebrid API Key" default="" option="hidden"/>
        <setting label="Premiumize" type="lsep"/>
        <setting id="pm_token" type="text" label="Premiumize API Key" default="" option="hidden"/>
    </category>
    <category label="Downloads">
        <setting id="download_path" type="folder" label="Download folder" default="special://home/userdata/downloads/" />
    </category>
</settings>
