<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="Debrid Services">
        <setting id="rd_token" type="text" label="Real-Debrid API Token" default="" />
        <setting id="ad_token" type="text" label="AllDebrid API Token" default="" />
        <setting id="pm_token" type="text" label="Premiumize API Token" default="" />
    </category>
    <category label="Downloads">
        <setting id="download_path" type="folder" label="Download folder" default="special://home/userdata/downloads/" />
    </category>
</settings>
